.better-maps-container {
   background: linear-gradient(to bottom, hsl(0, 0%, 30%), hsl(0, 0%, 80%));
}
#dc-state-path,#dc-state-path-live {
   stroke: hsl(0, 0%, 95%);
   stroke-width: 1px;
}
.better-maps-state-path {
   stroke: hsl(0, 0%, 100%) !important;
   stroke-width:1px;
}
.better-maps-state-path:hover {
   stroke: hsl(0, 0%, 0%) !important;
   stroke-width: 2px;
}
#better-maps-tooltip {
   background: hsl(0, 0%, 95%);
   color: hsl(0, 0%, 20%);
}
#better-maps-tooltip.bm-detached-primary-tooltip {
   background: transparent;
}
#better-maps-tooltip.bm-detached-primary-tooltip .bm-primary-section {
   background: hsl(0, 0%, 95%);
}
#better-maps-tooltip-reporting {
   color: hsl(0, 0%, 40%);
}
